### Mengambil data dari CSV

In [3]:
import pandas as pd

# Menggunakan dataset bawaan pandas
data_csv = pd.read_csv("C:/Users/yunit/Downloads/titanic.csv")

# Menampilkan 5 baris pertama dari dataset
print(data_csv.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

In [14]:
# Menampilkan penumpang first class yang berusia dibawah 18 tahun
query = data_csv[(data_csv['Pclass'] == 1) & (data_csv['Age'] < 18)]
print(query.head())

     PassengerId  Survived  Pclass  \
297          298         0       1
305          306         1       1
307          308         1       1
329          330         1       1
435          436         1       1

                                                  Name     Sex    Age  SibSp  \
297                       Allison, Miss. Helen Loraine  female   2.00      1
305                     Allison, Master. Hudson Trevor    male   0.92      1
307  Penasco y Castellana, Mrs. Victor de Satode (M...  female  17.00      1
329                       Hippach, Miss. Jean Gertrude  female  16.00      0
435                          Carter, Miss. Lucile Polk  female  14.00      1

     Parch    Ticket      Fare    Cabin Embarked
297      2    113781  151.5500  C22 C26        S
305      2    113781  151.5500  C22 C26        S
307      0  PC 17758  108.9000      C65        C
329      1    111361   57.9792      B18        C
435      2    113760  120.0000  B96 B98        S

### Mengambil data JSON

In [2]:
# Load data from a JSON file
data_json = pd.read_json('C:/Users/yunit/Downloads/csvjson.json')

# Menampilkan 5 baris pertama dari dataset
print(data_json.head())

      id                           time  lumen  soil  moist  temp  id_gh
0  17301  2024-08-09 08:03:46.650098+00   2229    67     64    27      2
1  17302  2024-08-09 08:04:44.901765+00   1399     0     65    28      2
2  17303  2024-08-09 08:05:44.919601+00   3045     0     62    28      2
3  17304  2024-08-09 08:06:44.976426+00   1315     0     62    28      2
4  17305  2024-08-09 08:07:45.242963+00   1240     0     61    28      2

In [15]:
#Menampilkan data greenhouse 1
print(data_json[data_json['id_gh'] == 1])

          id                           time  lumen  soil  moist  temp  id_gh
10     17311  2024-08-09 08:13:04.930427+00   2178     0     61    28      1
12     17313  2024-08-09 08:14:03.546388+00   2359    24     61    28      1
14     17315  2024-08-09 08:15:03.560308+00   2285    23     61    28      1
16     17317  2024-08-09 08:16:03.568479+00   2238    28     61    28      1
18     17319  2024-08-09 08:17:03.592938+00   2179    27     62    28      1
...      ...                            ...    ...   ...    ...   ...    ...
81202  98506  2024-08-23 03:10:07.647569+00  11005     0     43    35      1
81205  98509  2024-08-23 03:11:07.667327+00  11776     0     42    36      1
81208  98512  2024-08-23 03:12:07.730163+00  12380     0     41    36      1
81211  98515  2024-08-23 03:13:07.754117+00  12824     0     41    36      1
81214  98518  2024-08-23 03:14:07.785402+00  13417     0     41    36      1

[19808 rows x 7 columns]

### Mengambil data dari postgress

In [31]:
from sqlalchemy import create_engine
import pandas as pd

# Membuat koneksi ke database PostgreSQL
engine = create_engine('postgresql://postgres:mutiara02@localhost:5432/sleepcare')

# Menjalankan query dan memuat hasilnya ke dalam DataFrame pandas
df_db = pd.read_sql("SELECT * FROM health;", engine)

# Menampilkan 5 baris pertama dari DataFrame
print(df_db.head())

                               healthid                              personid  \
0  63a1a261-c6b8-4d8e-89fc-ee0303fe4b65  282aa97c-d43a-47f0-9272-9b6262c13794
1  ea15ad7b-9645-4920-808c-cb999e8ac63c  779d5774-12e9-4902-b49c-98f00b797baf
2  b76f5972-6454-4ac5-be84-04cdc1500bca  3136988e-2d9a-49ba-8c6d-17619a997bc2
3  7489914e-4caf-43d7-a7cc-1f2d53a133c3  979e44db-85f7-4ea9-bdfb-e70b2a3cd89b
4  f178a448-524a-4de7-ac00-20bc9989f703  6b34ad73-6539-4b74-96e2-1958a24626db

           bmi_category  systolic_blood_pressure  diastolic_blood_pressure  \
0  Underweight                               126                        83
1  Obese                                     140                        90
2  Obese                                     140                        90
3  Normal weight                             120                        80
4  Underweight                               120                        80

   heart_rate
0          77
1          82
2          85
3          70
4          70

### mengambil data tokopedia

In [29]:
from selenium import webdriver
from bs4 import BeautifulSoup
import time
import pandas as pd

# Tentukan path lengkap ke chromedriver.exe
driver_path = "C:/Users/yunit/Downloads/chromedriver-win64/chromedriver-win64/chromedriver.exe"

# Inisialisasi WebDriver
driver = webdriver.Chrome(executable_path=driver_path)

# URL target
url = 'https://www.tokopedia.com/search?q=dress+colorbox&source=universe&st=product&navsource=home&srp_component_id=02.02.01.01'

# Buka halaman web
driver.get(url)

# Tunggu beberapa detik untuk memastikan halaman sepenuhnya dimuat
time.sleep(5)

# Ambil konten halaman dengan BeautifulSoup
soup = BeautifulSoup(driver.page_source, 'html.parser')

# Contoh pengambilan data produk
products = []
for item in soup.find_all('div', class_="fKwBA18-xxQoxtcDuw5qew=="):
    product_name = item.find('div', class_="VKNwBTYQmj8+cxNrCQBD6g==").text
    price = item.find('div', class_="ELhJqP-Bfiud3i5eBR8NWg==").text
    products.append({'Product Name': product_name, 'Price': price})

# Simpan data ke CSV
df = pd.DataFrame(products)
df.to_csv('tokopedia_dress_colorbox.csv', index=False)

# Tutup driver
driver.quit()

C:\Users\yunit\AppData\Local\Temp\ipykernel_19384\1367158912.py:10: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(executable_path=driver_path)

In [30]:
df

                                         Product Name                 Price
0   Love, Bonito - Jumpsuit Wanita - Marta Padded ...  Rp901.550Rp949.0005%
1   Love, Bonito - Jumpsuit Wanita - Mina Padded T...  Rp901.550Rp949.0005%
2   Love, Bonito - Romper Wanita - Boxy Collared B...             Rp839.000
3   COLORBOX Puff Sleeve Square Neck Midi Dress I-...    Rp195.415Rp229.900
4   COLORBOX Short Sleeve Smocked Midi Dress I-DXW...     Rp83.970Rp279.900
5   COLORBOX Short Sleeve Slit Midi Dress I-DDKKEY...    Rp139.930Rp199.900
6   COLORBOX Puff Sleeve Square Neck Midi Dress I-...    Rp195.415Rp229.900
7   COLORBOX V-Neck Puff Sleeve Mini Dress I-DIWKE...    Rp160.930Rp229.900
8                               Dress Wanita Colorbox              Rp95.000
9   COLORBOX Short Sleeve Textured Mini Dress I-DI...    Rp103.455Rp229.900
10  COLORBOX Puff Sleeves Tier Mini Dress I:DIWKEY...    Rp116.955Rp259.900
11  COLORBOX Cut Out Mini Shirt Dress I-DIWKEY224A...     Rp59.970Rp199.900
12  COLORBOX Short Sleeve Textured Mini Dress I-DI...    Rp114.950Rp229.900